<template>
  <div
    class="h-10 bg-gray-800 flex flex-row justify-center py-2 text-xs flex-wrap"
  >
    <div class="text-white pl-5">
      Copyrights © 2021 - 2023. Hash8 Pvt Ltd.
    </div>
    <NuxtLink to="/terms&conditions" class="text-white pl-5"
      >Terms & Conditions</NuxtLink
    >
    <NuxtLink to="/privacypolicy" class="text-white pl-5"
      >Privacy Policy</NuxtLink
    >
  </div>
</template>
