<template>
  <div class="flex justify-end">
    <!-- <div>
      <h2 class="text-3xl font-bold text-indigo-700">
        Tank Monitoring System
      </h2>
      <h2 class="text-brwon">Manage Tanks, Devices and Locations</h2>
    </div> -->

    <div
      class="flex justify-end bg-gray-50 py-3 px-4 sm:px-6 lg:px-8 border-yellow-500 login-box-border shadow-lg top-36 right-20 relative"
    >
      <div class="max-w-md w-full space-y-8">
        <div class="border-gray-200">
          <h2 class="mt-3 text-xl font-medium text-gray-900">
            Login
          </h2>
        </div>
        <form class="space-y-6" action="#" method="POST">
          <input type="hidden" name="remember" value="true" />
          <div class="rounded-md shadow-sm -space-y-px">
            <div>
              <span class="text-sm font-medium">Email address</span
              ><input
                id="email-address"
                name="email"
                type="email"
                autocomplete="email"
                required=""
                class="relative w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm mt-1 mb-5"
                placeholder="Email address"
              />
            </div>
            <div>
              <span class="text-sm font-medium">Password</span>
              <input
                id="password"
                name="password"
                type="password"
                autocomplete="current-password"
                required=""
                class="relative w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm mt-1"
                placeholder="Password"
              />
            </div>
          </div>

          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input
                id="remember-me"
                name="remember-me"
                type="checkbox"
                class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded"
              />
              <label for="remember-me" class="ml-2 block text-sm text-gray-900">
                Remember me
              </label>
            </div>

            <div class="text-sm">
              <a
                href="#"
                class="font-medium text-indigo-600 hover:text-indigo-500"
              >
                Forgot your password?
              </a>
            </div>
          </div>

          <div>
            <NuxtLink to="/status"
              ><button
                type="submit"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mb-2"
              >
                Sign in
              </button></NuxtLink
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
// import { LockClosedIcon } from '@heroicons/vue/solid'

export default {
  layout: "loginLayout",
  components: {
    // LockClosedIcon,
  }
};
</script>

<style scoped>
.login-box-border {
  border: 1px solid #ddd;
}
</style>
