<template>
  <div>
    <nav class="bg-gray-800">
      <div class="relative flex items-center justify-between h-16 pl-6">
        <div class="flex-shrink-0 flex items-center">
          <img
            class="hidden lg:block h-8 w-auto"
            src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg"
            alt="Workflow"
          />
        </div>
      </div>
    </nav>
  </div>
</template>
