<template>
  <section>
    <div class="fixed top-0 min-w-full">
      <LoginNavbar />
    </div>
    <div>
      <Nuxt />
    </div>
    <div class="fixed bottom-0 min-w-full"><Footer /></div>
  </section>
</template>
