<template>
  <div class="flex flex-col">
    <div class="-my-2 sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <Maps />
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
