<template>
  <div>
    <h1>Terms and condition goes here...</h1>

    <h1>Terms and condition goes here...</h1>

    <h1>Terms and condition goes here...</h1>

    <h1>Terms and condition goes here...</h1>

    <h1>Terms and condition goes here...</h1>

    <h1>Terms and condition goes here...</h1>

    <h1>Terms and condition goes here...</h1>

    <h1>Terms and condition goes here...</h1>

    <h1>Terms and condition goes here...</h1>

    <h1>Terms and condition goes here...</h1>

    <h1>Terms and condition goes here...</h1>

    <h1>Terms and condition goes here...</h1>
  </div>
</template>

<script>
export default {
  layout: "default"
};
</script>
